<footer class="bg-light text-primary py-4 mt-auto">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3">
          <h5>Меню</h5>
          <ul class="list-unstyled">
            <li><a href="{% url 'main' %}" class="text-primary">Главная</a></li>
            <li><a href="{% url 'about' %}" class="text-primary">О проекте</a></li>
            <li><a href="{% url 'documentation' %}" class="text-primary">Документация</a></li>
          </ul>
        </div>
        <div class="col-md-4 mb-3">
          <h5>Контакты</h5>
          <ul class="list-unstyled">
            <li>Адрес: ул. Пример, 123</li>
            <li>Телефон: +1 (234) 567-89-00</li>
            <li>Email: example@example.com</li>
        </div>
        <div class="col-md-4 mb-3">
          <h5>Связь с нами</h5>
          <a href="#" class="text-primary me-2"><i class="bi bi-telegram"></i> TG</a>
          <a href="#" class="text-primary"><i class="bi bi-github"></i> Github</a>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <p class="mb-0">&copy; 2024 BuBuh. Все права защищены.</p>
        </div>
      </div>
    </div>
  </footer>
  