{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h2 class="mb-4">Добро пожаловать в BuBuh</h2>

    {% comment %} <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h3>BuBuh - это приложение домашней бухгалтерии</h3>
        </div>
        <div class="card-body">
            <p>В своё время мне понадобилось очень упрощенное приложение для ведения и учёта своих доходов и расходов. Существующие приложения не особо подходили под мои задачи и я решил создать своё.</p>
            <p>Вы так же можете воспользоваться моим приложением абсолютно бесплатно.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h3>Что умеет BuBuh:</h3>
        </div>
        <div class="card-body">
            <ul>
                <li>Добавлять данные о ваших доходах и расходах.</li>
                <li>Выдавать вам сальдо за указанный период.</li>
                <li>Вносить данные через мобильное приложение.</li>
            </ul>
        </div>
    </div> {% endcomment %}

    <div class="card bg-secondary mb-4">
        <div class="card-header">
            <h3>BuBuh - это приложение домашней бухгалтерии</h3>
        </div>
        <div class="card-body">
            <p class="card-text">BuBuh - это удобное и интуитивно понятное приложение для управления личными финансами. Основная цель проекта - предоставить пользователям простой способ учета доходов и расходов, что помогает более эффективно управлять своими финансовыми средствами.</p>
            <p class="card-text">Приложение разработано с учетом потребностей пользователей, которые хотят быстро и без лишних сложностей вносить данные о своих финансовых операциях. BuBuh предлагает минималистичный интерфейс, что делает его идеальным выбором для людей, ценящих простоту и функциональность.</p>
        </div>
    </div>

    <div class="card bg-secondary mb-4">
        <div class="card-header">
            <h3>Основные функции</h3>
        </div>
        <div class="card-body">
            <ul>
                <li>Простой ввод доходов и расходов с возможностью добавления описания и категорий.</li>
                <li>Фильтрация и сортировка данных по различным параметрам, таким как дата, категория, сумма и описание.</li>
                <li>Генерация отчетов и экспорт данных в CSV для дальнейшего анализа.</li>
                <li>Визуализация данных с помощью графиков и диаграмм для лучшего понимания финансовых тенденций.</li>
                <li>Возможность использования на различных устройствах, включая мобильные телефоны и планшеты.</li>
            </ul>
        </div>
    </div>

    <div class="card bg-secondary mb-4">
        <div class="card-header">
            <h3>Как начать</h3>
        </div>
        <div class="card-body">
            <p class="card-text">Чтобы начать использовать BuBuh, выполните следующие шаги:</p>
            <ol>
                <li><a class="text-primary" href="{% url 'users:signup' %}">Зарегистрируйтесь</a> на нашем сайте или <a class="text-primary" href="{% url 'users:login' %}">войдите</a> в существующую учетную запись.</li>
                <li>Добавьте первую запись о доходах или расходах.</li>
                <li>Используйте фильтры и сортировку для анализа своих финансовых данных.</li>
                <li>Экспортируйте данные в CSV для более детального анализа в сторонних приложениях.</li>
            </ol>
            <p class="card-text">Мы надеемся, что BuBuh станет вашим надежным помощником в управлении личными финансами!</p>
        </div>
    </div>
{% endblock %}
