{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h2>Добро пожаловать в BuBuh</h2>
    <p>BuBuh - это приложение домашней бухгалтерии</p>
    <p>В своё время мне понадобилось очень упрощенное приложение для ведения и учёта своих доходов и расходов. Существующие приложения не особо подходили под мои задачи и я решил создать своё.</p>
    <p>Вы так же можете воспользоваться моим приложением абсолютно бесплатно</p>
    <ul>Что умеет BuBuh:
        <li>добавлять данные о ваших доходах и расходах</li>
        <li>выдавать вам сальдо за указанный период</li>
        <li>вносить данные через мобильное приложение</li>
    </ul>
{% endblock %}

